<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/productos.css">
        <title>Document</title>
    </head>
    <body>
        <main class="container">
            <h1>Editar Producto</h1>

            <form action="/productos/editar/<%= producto.id %>" method="post" class="formulario">
                <label for="nombre">
                    Nombre del producto
                </label>
                <input 
                    type="text"
                    id="nombre"
                    name="nombre"
                    value="<%= producto.nombre %>"
                    required
                >
                <label for="precio">
                    Precio del producto
                </label>
                <input 
                    type="number"
                    id="precio"
                    name="precio"
                    value="<%= producto.precio %>"
                    required
                >
                <div class="acciones-formulario">
                    <button type="submit" class="btn btn-editar">Actualizar Producto</button>
                    <a href="/" class="btn btn-cancelar">Cancelar</a>
                </div>
            </form>
        </main>
    </body>
</html>