<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/productos.css">
        <title>Sistema de Productos</title>
    </head>
    <body>
        <h1>Sistema de Productos</h1>
        <h2>Lista de Productos</h2>

        <table border="1">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Precio</th>
                </tr>
            </thead>
            <tbody>
                <% productos.forEach(producto => { %>
                    <tr>
                        <td><%= producto.id %></td>
                        <td><%= producto.nombre %></td>
                        <td>₡<%= producto.precio.toLocaleString("es-CR") %></td>
                    </tr>
                <% }); %>
            </tbody>
        </table>
    </body>
</html>